android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/.kotlin/
android-app/local.properties
*.apk.idsig

android-app/keystore/
android-app/keystore.properties
*.jks
*.keystore

.idea/
*.iml
.vscode/
.DS_Store

.workbuddy/
